body {
    background-color: white;
}

h2 {
    font-size: 1.2em;
}

.content {
    margin-top: 260px;
}

.content-big {
    margin-top: 235px;
}

.content-small {
    margin-top: 40px;
}

header {
    margin: 1.5em 0;
}

.modal-body p {
    margin: 0;
    margin-bottom: 1px;
}

header img {
    max-width: 160px;
}
nav {
    position: relative;
    top: 0.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    background-color: transparent;
    color: #575757;
    border-radius: 0.3em;
    padding: 12px;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;    
}

nav ul li a:focus {
    background-color: #f6fafe;
    border: 1px solid #ecf3f4;
    color: #111111;
    padding-left: 11px;
    padding-right: 11px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #f6fafe;
    border: 1px solid #ecf3f4;
    color: #111111;
    padding-left: 11px;
    padding-right: 11px;
    text-decoration: none;
}

#submit .btn {
    margin-top: -4px;
    text-shadow: 0 1px 0 #263666;    
}

#submit .btn:hover {
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    padding-left: 12px;
    padding-right: 12px;    
}

.seperator {
    background: url("../img/JSsep.png") repeat-x center center;
    height: 40px;
    width: 100%;    
    margin: 10px 0 20px 0;
    opacity: 0.9;
}

.lebrag {
    background-color: white;
    padding: 0 40px;
    margin: auto;
    max-width: 50%;
    text-align: center;
}

#s {
    font-size: 1.2em;
    width: 98.6%;
    height: 2em;
}

.row p {
    margin-bottom: 1em;
}

.project {
    background-color: white;
    border: 1px solid #d1d1d1;
    box-shadow: 0 2px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.05);
    border-radius: 10px 5px 5px 5px;
    -webkit-border-radius: 10px 5px 5px 5px;
    -moz-border-radius: 10px 5px 5px 5px;    
    margin-bottom: 20px;
    position: relative;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.05);
    zoom: 1;    
}

.project header {
    border-bottom: 1px solid #e3e3e3;
    margin: 0;
    padding: 10px;
    position: relative;
}

.project header div.share {
    position: absolute;
    right: 5px;
    top: 25px;
}

.project header h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
    width: 100%;
    margin-left: 0;
}

.project header h1 a {
    color: #bb0000;
    /*color:#dc3e00;*/
    font-style: normal;
}

.project header h1 a:hover {
    color: #cc0000;
    font-style: normal;
    text-decoration: none;
}

.dropdown-menu li a {
    color: black !important;
}

.dropdown-menu li a:hover {
    color: white !important;
}

.project header a {
    padding-left: 5px;
}

.project div.content {
    margin-top: 50px;
    padding-top: 20px;
    position: relative;
    text-align: justify;
}

.project div.content:after {
    background-color: #f5f5f5;
    display: block;
    position: absolute;
    right: -263px;
    top: 0;
    width: 36.3%;
    height: 100%;
    z-index: -1;
}

.plugins {
   margin-left: 15px;
   margin-top: -1px;
}

.files {
    height: 7.8em;
    overflow: hidden;
}

.read-more {
    background-color: white;
    color: #666;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    padding: .8em 0;
    position: relative;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.read-more:before {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%); /* IE10+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=0 ); /* IE6-9 */
    /*background-image: linear-gradient(top,rgba(0,0,0,0), rgba(0,0,0,0.15));*/
    border-radius: 3px 3px 0 0;
    content: '';
    display: block;
    position: absolute;
    top: -4px;
    width: 100%;
    height: 4px;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;   
}

.table {
    margin-bottom: -6px !important;
    width: 940px;
}

.authorname {
    color: #495961;
    font: normal normal 18px "Lucida Sans Unicode", sans-serif;
    letter-spacing: -1px;
    text-transform: none;
}

.author {
    background-color: #f4f7fc;
    border: transparent;
    border: 1px solid rgba(192, 201, 206, 0.3);
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    float: right;
    height: 30px;
    padding: 8px 15px;
    margin-right: -11px;   
}

.author a {
    display: inline-block;
}

.infobar {
    float: left;
    position: absolute;
    width: 70%;
    margin-left: 0;
}

.social img {
    margin-bottom: 9px;
    margin-left: 5px;
}

.social img:hover {
    opacity: 0.8;
}

.tags span {
    margin-bottom: 9px;
    margin-left: 5px;
}

.updatebtn {
    margin-left: -18px;
    margin-top: -13px;
    position: absolute;
}

.sponsortop {
    float: left;
    height: 40px;
    margin-left: 25px;
    margin-top: -1px;
}

#shareme .box {
    float: left;
}

#shareme .box a {
    color: #404040;
    text-shadow: 0 1px 1px rgba(167,167,167,.4);
}

#shareme .box a:hover {
    text-decoration: none;
}

#shareme .count {
    border-right: 2px solid #57b8d1;
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    padding-right: 10px;
}

#shareme .share {
    float: left;
    font-size: 20px;
    margin-left: 10px;
    text-align: left;
    width: 82px;
}

#shareme .buttons {
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    padding: 10px;
    position: absolute;
}

#shareme .button {
    float: left;
    margin: 0 10px 0 0;
    max-width: 50px;
}

#shareme .facebook {
    margin: 0 8px 0 0;
}

#shareme .twitter {
    margin: 0 18px 0 0;
}

#shareme .linkedin {
    margin: 0 20px 0 0;
}

.header-note {
    color: #767676;
    margin-top: -12px;    
    margin-bottom: 17px;
}

.hosted {
    color: #a5a5a5;
    font-size: 15px;
    margin-left: 780px;
    margin-top: 8px;
    padding: 4px 4px 3px;
    position: absolute;
}

.hosted span {
    color: black;
    font-size: 24px;
    text-shadow: 1px 1px 1px #969696;
}

.integration,
.integration-zip {
    margin-top: 6px;
    position: absolute;
}

.integration {
    right: 120px;
}

.integration-zip {
    right: 10px;
}

.download:focus {
    text-decoration: none;
}

.download {
    background-color: #d2d2d2;    
    color: white !important;
    border-radius: 4px;    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);	
    padding: 6px 9px;	
    vertical-align: middle;
}

.download:hover {
    background-color: #989898;
    text-decoration: none;
}

.sefile {
    background-color: inherit;
    border: 0 none;
    width: 900px;
}

.single {
    background-color: white;
    border: 1px solid #E3E3E3;
    -webkit-border-radius: 10px 5px 5px 5px;
    -moz-border-radius: 10px 5px 5px 5px;
    border-radius: 10px 5px 5px 5px;
    margin-bottom: 25px;
    padding-left: 10px;
    position: relative;
}

.bigmodal {
    margin-left: -470px;
    width: 940px;
}

.read-more:hover {
    text-decoration: none;
}

#result {
    margin-bottom: 20px;
}

#version_drop,
.tags {
    display: inline;
}

iframe {
    border-width: 0;
    overflow: hidden;
}

.menubar {
    background-color: white;
    height: 80px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.18);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.18);
    -ms-box-shadow: 0 1px 2px rgba(0,0,0,.18);
    box-shadow: 0 1px 2px rgba(0,0,0,.18);
    left: 0;
    min-width: 900px;
    right: 0;
    position: fixed;
    top: 0;
    z-index: 998;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.page-title {
    background: #18101b url('../img/title-bg-img.jpg') 50% 0% / 130% repeat-x;
    border-bottom: 1px solid #efefef;
    left: 0;
    height: 230px;
    width: 100%;    
    min-width: 900px;   
    position: absolute;
    right: 0;
    top: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.page-jumbo-title {
    background: #fefefe url('../img/diagmonds.png') repeat;
    border-bottom: 1px solid #f3f3f3;
    left: 0;
    height: 190px;
    width: 100%;    
    min-width: 900px;   
    position: absolute;
    right: 0;
    top: 43px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.page-jumbo-title h3 {
    color: #343434;
}

.page-title h2 {
    text-align: center;
    margin-top: 140px;
    font-size: 31px;
    color: #f1f1f1;
    font-weight: normal;
}

/* footer starts here */

footer {
    font-size: 13px;
    padding: 20px 0;
    letter-spacing: 0;
    color: #717171;
    border-top: 1px solid #e5e5e5;
    background: #F6F6F6 url('../img/agsquare.png') repeat;
    margin-top: 25px;
    text-align: center;
}

footer ul {
    display: inline-block;
    margin: 0;
    list-style-type: none;
}

footer ul li a {
    font-size: 12px;
    margin: 5px;
}

/** sponsor content on about page **/

.sponsor-pic {
    float: left;
    width: 15%;
    height: 107px;
    margin-right: 30px;
    margin-bottom: 15px;
    overflow: hidden;        
}

.sponsor-pic img {
    max-height: 107px;
    vertical-align: middle;
}